---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
  name: {{ include "template.fullname" $ }}-static
  labels:
    {{- include "template.labels" $ | nindent 4 }}
spec:
  type: "ClusterIP"
  {{- if $.Values.service.enableDualStack }}
  ipFamilies:
  - IPv6
  - IPv4
  ipFamilyPolicy: PreferDualStack
  {{- end }}
  ports:
  - port: 18800
    targetPort: 18800
    protocol: TCP
    name: staticport
  selector:
    {{- include "template.selectorLabels" $ | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  namespace: {{ $.Values.namespace | default $.Release.Namespace }}
  name: {{ include "template.fullname" $ }}-service
  labels:
    {{- include "template.labels" $ | nindent 4 }}
spec:
  type: "ClusterIP"
  {{- if $.Values.service.enableDualStack }}
  ipFamilies:
  - IPv6
  - IPv4
  ipFamilyPolicy: PreferDualStack
  {{- end }}
  ports:
  - port: 18080
    targetPort: 18080
    protocol: TCP
    name: serviceport
  - port: 18880
    targetPort: 18880
    protocol: TCP
    name: app
  selector:
    {{- include "template.selectorLabels" $ | nindent 4 }}

